/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import url("http://fonts.googleapis.com/css?family=Lora|Oswald:300,400");

$background-color: #fff5e6;
$text-color: #323232;
$main-color: #221d1c;
$link-color: #b43333;

$avatar-size: 36px;

body{
	background: $background-color;
	color: $text-color;
	font-family: "Lora", Georgia;
	font-size: 18px;
	line-height: 1.6;
	&.customize-support{
		margin: 20px 0 0 0;
		#mainheader{
			top: 20px;
			height: calc(100% - 60px);
		}
	}
}

a{
	color: $link-color;
}

h1,h2,h3,h4{
	font-family: "Oswald", sans-serif;
	line-height: 1.15;
	font-weight: 300;
	margin: 0.8em 0 0.5em 0;
}

#mainheader{
	padding: 20px;
	height: 100%;
	width: 250px;
	background: $main-color;
	color: #F0F0F0;
	overflow: auto;
	position: fixed;
	left: 0px;
	top:  0px;
	.menu, .sidebar{
		margin: 0 0 0.8em 0;
		ul{
			list-style: inherit;
			margin: 0 0 0 1.2em;
			font-size: 0.9em;
		}
	}
	&::-webkit-scrollbar {
	    width: 10px;
	}
	 
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 8px;
	}
	 
	&::-webkit-scrollbar-thumb {
	    border-radius: 8px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	    background: lighten($main-color, 30%);
	}
}

section, aside.sidebar{
	max-width: 745px;
	margin: 0 auto;
	padding: 30px;
}

main{
	margin: 0 0 0 210px;
}
article{
	max-width: 675px;
	margin: 0 auto 3em auto;
	h2{
		font-size: 2em;
		font-weight: 400;
		margin: 0 0 0.35em 0;
		a{
			text-decoration: none;
			/*font-variant: small-caps;*/
			border-bottom: 1px solid #b43333;
		}
	}
	h3{
		font-size: 1.8em;
		font-weight: 300;
		margin: 0.4em 0 0.3em 0;
		color: #787878;
		&.subtitle{
			margin: 0.4em 0 0 0;
			font-size: 1.1em;
			text-transform: uppercase;
			position: relative;
			top: 0.25em;		
		}
	}
	p{
		margin: 0 0 1em 0;
	}
	img{
		margin: 0 auto;
		max-width: 100%;
		display: block;
	}
	ul{
		list-style: square;
		margin: 0 0 1em 1.2em;
		li{}
	}
	aside{
		font-size: 0.95em;
		margin: 0 0 1em 0;
		.avatar{
			float: left;
			@include border-radius($avatar-size);
			position: relative;
			margin: -24px 0 0 -26px;
			img{
				max-width: $avatar-size;
				@include box-shadow(0 0 5px rgba(0,0,0,0.15));
				@include border-radius($avatar-size);
			}
		}
	}
}
